$black: #202027;
$white: #FFFFFF;
$dgreen: #BDED35;
$lgreen: #E1FF8F;

%button { width: 247px;
        height: 66px;
        border: 1px solid $black;
        background: $black;
        color: $white;
        border-radius: 60px;
        font-size: 24px;
        font-weight: 600;
        cursor: pointer;
        display: block;
        font-family: "Montserrat";
        }