@import 'vars';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", "arial";
    font-size: 24px;
}

a, input, button {
    font: inherit;
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.heading {
    background-color: $lgreen;
    height: 800px;
    padding-top: 196px;
    padding-bottom: 246px;
    position: relative;

    &__title {
        font-size: 64px;
        font-weight: 700;
        max-width: 768px;
        padding-bottom: 24px;
    }

    &__description {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        max-width: 720px;
        padding-bottom: 48px;
    }

    &__button {
        width: 247px;
        height: 66px;
        box-sizing: border-box;
        border: 1px solid $black;
        background: $black;
        color: $white;
        border-radius: 60px;
        padding: 16px 28px 16px 28px;
        font-size: 24px;
        font-weight: 600;
        cursor: pointer;
    }

    &__svg {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__star {

        &-top {
            position: absolute;
            top: 69px;
            left: 156px;
        }
        &-left {
            position: absolute;
            top: 94px;
            left: 63px;
        }
        &-center {
            position: absolute;
            bottom: 225px;
            right: 455px;
        }
        &-right {
            position: absolute;
            bottom: 148px;
            right: 344px;
        }
    }
}

.about {
    background-color: $black;
    padding-bottom: 96px;
    position: relative;
    z-index: -2;

    &__info {
        padding-top: 94px;
        padding-bottom: 72px;
    }

    &__title {
        color: $white;
        font-size: 64px;
        font-weight: 700;
        padding-bottom: 24px;
    }

    &__desription {
        color: $white;
        font-weight: 400;
        line-height: 32px;
    }

    &__svg {
        position: absolute;
        right: 0;
        top: 77px;
        z-index: -1;
        
    }

    &__games {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        column-gap: 32px;

        & > :nth-child(n+4):nth-child(-n+6) {
            align-self: end;
        }
    }

    &__games-card {
        display: block;
        border-radius: 30px;
        background-color: $white;
        max-width: 378px;
    }


    &__games-img {
        border-radius: 30px;
    }

    &__games-info {
        padding: 32px 32px 36px 32px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__games-number {
        border-radius: 52.58px;
        background-color: #F7F7F7;
        padding: 8px 16px 10px 16px;
        width: 112px;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        color: $black;
    }

    &__games-name {
        font-size: 32px;
        font-weight: 700;
        color: $black;
        max-width: 306px;
    }
}

