@import 'vars';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", "arial";
    font-size: 24px;
}

a, input, button {
    font: inherit;
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.heading {
    background: 
        url(images/big-star.svg) no-repeat 60.5vw -333px,
        url(images/star-top.svg) no-repeat 11.4vw 69px,
        url(images/star-left.svg) no-repeat 5.4vw 94px, 
        url(images/star-center.svg) no-repeat 66.8vw 538px, 
        url(images/star-right.svg) no-repeat 70.3vw 568px,
        $lgreen;
    padding-top: 196px;
    padding-bottom: 156px;

    &__title {    
        font-size: 64px;
        font-weight: 700;
        max-width: 768px;
        padding-bottom: 24px;
    }

    &__description {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;

        &-bold {
            font-weight: bold;
        }
    }

    &__button {
        border: 1px solid $black;
        background: $black;
        color: $white;
        border-radius: 60px;
        font-size: 24px;
        font-weight: 600;
        cursor: pointer;
        font-family: "Montserrat";
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 953px;
        padding: 16px 65px 16px 65px;
        transition: all 0.5s;
        margin-top: 48px;

        &:hover {
            background-color: $white;
            color: $black;

        }
    }
}

.about {
    background: 
        url(images/star-about.svg) no-repeat 65vw 75px,
        url(images/about-top.svg) no-repeat 2vw 106.6vh,
        url(images/about-bottom.svg) no-repeat 4vw 113vh,
        $black;
    padding-bottom: 96px;

    &__info {
        padding-top: 94px;
        padding-bottom: 72px;
    }

    &__title {
        color: $white;
        font-size: 64px;
        font-weight: 700;
        padding-bottom: 24px;
    }

    &__desription {
        color: $white;
        font-weight: 400;
        line-height: 32px;
    }

    &__games {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        column-gap: 32px;

        & > :nth-child(n+4):nth-child(-n+6) {
            align-self: end;
        }
    }

    &__games-card {
        display: block;
        border-radius: 30px;
        background-color: $white;
        max-width: 378px;
        transition: all 0.5S;

        &:hover {
            transform: scale(1.07);
        }
    }


    &__games-img {
        border-radius: 30px;
    }

    &__games-info {
        padding: 32px 32px 36px 32px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__games-number {
        border-radius: 52.58px;
        background-color: #F7F7F7;
        padding: 8px 16px 10px 16px;
        width: 112px;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        color: $black;
    }

    &__games-name {
        font-size: 32px;
        font-weight: 700;
        color: $black;
        max-width: 306px;
    }
}

.games {
    background: 
        url(images/star-bott-g.svg) no-repeat 87vw 5vh,
        url(images/star-top-g.svg) no-repeat 90vw 12vh,
        url(images/star-bot.svg) no-repeat 90.5vw 448vh,
        url(images/star-bott.svg) no-repeat 85vw 454vh,
        $black;
    padding-bottom: 144px;

    &__title {
        padding-bottom: 72px;
        font-weight: 700;
        font-size: 64px;
        color: $white;
    }
}

.game {
    display: flex;
    flex-direction: column;
    gap: 32px;

    &__article {    
        border-radius: 30px;
        background-color: $white;
        display: flex;

        &:nth-child(2n) {   
            flex-direction: row-reverse;
        }
    }

    &__items {
        padding-top: 48px;
        padding-left: 48px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__name {
        font-weight: 700;
        color: $black;
        padding-right: 215px;
    }

    &__description {
        font-weight: 400;
        line-height: 32px;
        max-width: 423px;
        padding-bottom: 12px;

        &-long {
            max-width: 490px;
        }
    }

    &__button {
        border: 1px solid $black;
        background: $black;
        color: $white;
        border-radius: 60px;
        font-size: 24px;
        font-weight: 600;
        cursor: pointer;
        font-family: "Montserrat";
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 76px 16px 76px;
        margin-right: 305px;
        transition: all 0.5s;

        &:hover {
            background-color: $white;
            color: $black;
        }
    }

    &__img {
        border-radius: 30px;
        aspect-ratio: auto;
    }
}

.footer {
    background-color: $dgreen;

    &__title {
        font-weight: 600;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@import 'mobil';

